.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 48px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #17846a;
}

.title {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 24px;

  color: #f9fbfb;
  background: #17846a;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 6px),
    #0000 calc(100% - 5px) 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 13px),
    #000 calc(100% - 12px)
  );
  border-radius: 50%;
  animation: l19 2s infinite linear;
}

.loader::before,
.loader::after {
  content: '';
  grid-area: 1/1;
  background:
    linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size:
    100% 10px,
    10px 100%;
  background-repeat: no-repeat;
}

.loader::after {
  transform: rotate(45deg);
}

@keyframes l19 {
  100% {
    transform: rotate(1turn);
  }
}
