* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
nav,
h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
}

ul,
p,
button {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus,
a:focus-visible,
input[type='submit']:focus,
button:focus-visible {
  outline: none;
  box-shadow: none;
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

image {
  display: block;
  max-width: 100%;
  height: auto;
}
