.swiper-pagination {
  position: absolute;
  bottom: 8px !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #9cafac;
}

.swiper-pagination-bullet-active {
  background-color: #111928;
}
