@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');

:root {
  // colors
  --primary-bg: #f9fbfb;

  // fonts
  --font-family: "Exo 2", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "El Messiri", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Philosopher", sans-serif;
}

