.header {
  padding-bottom: 28px;

  background-color: #126a57;

  &_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
  }

  &_logo {
    color: #eefbf6;

    &_icon {
      width: 100px;
      height: 16px;
    }
  }

  &_nav {
    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      padding: 10px 34px;
      border-radius: 16px;

      font-family: var(--font-family);
      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      color: #112824;
      background: #def7ec;

      &_icon {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.category_swiper {
  margin-left: 20px;
  border: 2px solid #b0ead3;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-right: none;

  &_slide {
    width: auto;

    &_link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;

      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #e5ebea;
    }
  }
}

.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  transition: all 0.3s ease;

  padding: 12px;
  border-radius: 32px 32px 0 0;

  background-color: #115446;

  &_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease,
    opacity 0.3s ease;

    &_open {
      max-height: 200px;
      opacity: 1;
    }

    li a {
      display: block;
      padding: 10px 20px;

      font-family: var(--font-family);
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #e5ebea;
    }
  }

  &_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 24px;
    padding: 10px 20px;

    color: #112824;
    background-color: #def7ec;
  }

  &_icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 52px 24px;

    &_wrap {
      padding: 16px 0;
    }

    &_logo {
      &_icon {
        width: 165px;
        height: 24px;
      }
    }

    &_nav {
      &_btn {
        padding: 0;
        color: #def7ec;
        background-color: inherit;

        &_icon {
          width: 40px;
          height: 40px;
        }
      }
    }

    &_list_btn {
      display: flex;
      gap: 16px;
    }
  }

  .category_swiper {
    width: 652px;
    padding: 4px;
    margin: 0;
    border: 2px solid #b0ead3;
    border-radius: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 24px 104px;

    &_wrap {
      padding: 0;
      margin-bottom: 16px;
    }

    &_nav {
      display: flex;
      gap: 16px;

      &_btn {
        min-width: 144px;
        padding: 10px 24px;
        border-radius: 24px;

        color: #112824;
        background-color: #def7ec;

        &_icon {
          width: 16px;
          height: 16px;
        }
      }

      &_link {
        padding: 10px 20px;

        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #e5ebea;
      }
    }

    &_list_btn {
      gap: 8px;
    }

    &_list_link {
      display: flex;
      align-items: center;
    }
  }
}
