.footer {
  padding: 20px;

  background-color: #072721;

  &_main {
    padding-bottom: 32px;
    margin-bottom: 16px;

    border-bottom: 1px solid #126a57;
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
  }

  &_blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &_block {
    width: 120px;

    &_title {
      padding-left: 6px;
      margin-bottom: 8px;

      font-family: var(--third-family);
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 0.01em;
      color: #f3f6f5;
    }

    &_link {
      display: block;
      padding: 8px 6px;

      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      color: #e5ebea;
    }
  }

  &_form {
    &_title {
      margin-bottom: 8px;

      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #def7ec;

      span {
        text-transform: uppercase;
      }
    }

    &_label {
      display: flex;
      align-items: center;
      gap: 8px;
      max-width: 504px;
      padding: 0 10px;
      margin-bottom: 8px;
      border: 1px solid #7dd8bb;
      border-radius: 8px;

      background-color: #eefbf6;

      input {
        width: 100%;
        padding: 8px;

        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: #4b635f;
      }
    }

    &_icon {
      width: 16px;
      height: 16px;
      color: #126a57;
    }

    &_text {
      margin-bottom: 16px;

      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #24a583;
    }

    &_btn {
      border-radius: 24px;
      padding: 10px 20px;
      max-width: 504px;
      width: 100%;

      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #f9fbfb;

      background-color: #17846a;
    }
  }

  &_logo {
    display: inline-block;
    margin-bottom: 16px;

    &_icon {
      width: 165px;
      height: 24px;

      color: #0f453b;
    }
  }

  &_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;

    a {
      display: inline-block;
      width: 110px;
      padding: 10px 6px;

      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      text-align: center;
      color: #def7ec;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 44px 50px;

    &_content {
      flex-direction: row;
      justify-content: space-between;

      margin-bottom: 32px;
    }

    &_blocks {
      flex-wrap: nowrap;
    }

    &_block {
      width: 122px;

      &_title {
        padding-left: 12px;
        margin-bottom: 4px;
      }

      &_link {
        padding: 12px;
        padding-right: 0;
      }
    }

    &_form {
      width: 330px;

      &_text {
        margin-bottom: 32px;
      }

      &_btn {
        padding: 12px 20px;

        font-size: 16px;
        line-height: 120%;
      }
    }

    &_second {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &_logo {
      margin-bottom: 0;

      &_icon {
        width: 592px;
        height: 104px;

        color: #0f453b;
      }
    }

    &_details {
      gap: 20px;

      a {
        width: 168px;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-right: 104px;
    padding-right: 104px;

    &_main {
      padding-bottom: 22px;
      margin-bottom: 16px;
    }

    &_blocks {
      gap: 44px;
    }

    &_block {
      width: 168px;
    }

    &_form {
      width: 400px;

      &_title {
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.01em;
      }

      &_label {
        padding-right: 16px;
        padding-left: 16px;

        input {
          width: 100%;
          padding-top: 14px;
          padding-bottom: 14px;

          font-size: 18px;
        }
      }

      &_icon {
        width: 20px;
        height: 20px;
      }

      &_text {
        margin-bottom: 32px;

        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
      }

      &_btn {
        width: 400px;
        max-width: 504px;
      }
    }

    &_logo {
      &_icon {
        width: 712px;
        height: 104px;
      }
    }
  }
}
