.masters {
  padding: 48px 0;

  background-color: #def7ec;

  &_title {
    padding: 0 20px;
    margin-bottom: 8px;

    font-family: var(--third-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    color: #072721;

    &_wrapper {
      text-transform: uppercase;
    }
  }

  &_text {
    padding: 0 20px;
    margin-bottom: 16px;

    font-family: var(--third-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #126a57;
  }
}

.category_swiper {
  margin-bottom: 32px;

  &_swiper {
    padding: 0 20px;
  }

  &_slide {
    width: auto;
    border: 2px solid #17846a;
    border-radius: 24px;
    padding: 12px;
    margin-right: 8px;
  }

  &_slide:last-child {
    margin-right: 0;
  }

  &_slide:hover {
    color: #eefbf6;
    background-color: #17846a;
  }

  &_btn_prev,
  &_btn_next {
    display: none;
    color: #072721;
  }

  &_disable {
    color: #126a57;
  }

  &_icon {
    stroke: currentColor;
    fill: currentColor;
  }
}

.masters_swiper {
  position: relative;

  padding: 0 20px;
  margin-bottom: 16px;

  &_slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 371px;
    margin-right: 16px;

    .img_wrap {
      position: absolute;
      top: 0;
      z-index: 1000;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      border-radius: 50%;

      background-color: #def7ec;

      &_img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
      }
    }

    .info_wrap {
      border-radius: 24px;
      padding: 28px 12px 16px 12px;
      width: 240px;
      margin-top: auto;

      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05),
      0 10px 15px -3px rgba(0, 0, 0, 0.1);
      background-color: #eefbf6;

      &_title {
        margin-bottom: 4px;

        font-family: var(--third-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0.01em;
        color: #072721;
      }

      &_category_list {
        display: flex;
        gap: 8px;
        margin-bottom: 4px;

        &_btn {
          padding: 6px 10px;
          border: 1px solid #9cafac;
          border-radius: 6px;

          font-family: 'Exo 2', sans-serif;
          font-weight: 600;
          font-size: 12px;
          line-height: 120%;
          text-align: center;
          color: #072721;
          background-color: #def7ec;
        }
      }

      &_rating {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 4px;

        &_num {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 9999px;
          padding: 4px 8px;
          width: 33px;
          height: 16px;

          font-weight: 600;
          font-size: 10px;
          line-height: 120%;
          text-align: center;
          background-color: #fdf6b2;
        }
      }

      &_comments {
        margin-left: auto;

        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
        text-align: center;
        color: #126a57;
      }

      &_address {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: #072721;
      }

      &_address:nth-child(odd) {
        margin-bottom: 8px;
      }

      &_btn {
        width: 104px;
        height: 32px;
        padding: 8px 12px;
        border-radius: 24px;
        border: 1px solid #17846a;

        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
        color: #072721;

        &_about {
          margin-right: 8px;
        }

        &_record {
          color: #eefbf6;
          background-color: #1f2a37;
        }
      }
    }
  }

  &_slide:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .masters {
    &_title {
      margin-bottom: 16px;

      font-size: 48px;
      line-height: 150%;
    }

    &_text {
      margin-bottom: 24px;

      font-size: 20px;
      line-height: 130%;
    }
  }

  .category_swiper {
    display: flex;
    gap: 8px;
    padding: 0 34px;
    margin-bottom: 21px;

    &_swiper {
      padding: 0;
    }

    &_slide {
      padding: 15px 20px;
    }

    &_btn_prev,
    &_btn_next {
      display: block;
      padding: 15px 20px;
    }
  }

  .masters_swiper {
    padding: 0 53px;
    margin-bottom: 16px;


    &_slide {
      width: 296px;
      height: 485px;

      .img_wrap {
        &_img {
          width: 216px;
          height: 216px;
        }
      }

      .info_wrap {
        padding: 32px 20px 24px 20px;
        width: 296px;
        height: 256px;

        &_title {
          margin-bottom: 8px;

          font-size: 20px;
          line-height: 130%;
        }

        &_category_list {
          margin-bottom: 8px;

          &_btn {
            padding: 2px 12px;

            font-size: 14px;
            line-height: 150%;
          }
        }

        &_num {
          font-size: 12px;
        }

        &_address {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
        }

        &_btn {
          border-radius: 24px;
          padding: 10px;
          width: 124px;
          height: 41px;

          font-size: 14px;
          line-height: 150%;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .masters {
    padding: 48px 104px;
  }

  .category_swiper {
    padding: 0 138px;
    margin-bottom: 32px;

    &_swiper {
      padding: 0;
    }

    &_slide {
      padding: 10px 20px;
    }

    &_btn_prev,
    &_btn_next {
      padding: 10px 20px;
    }
  }

  .masters_swiper {
    padding: 0;
    margin-bottom: 27px;
  }
}
